* {
    margin: 0;
    text-transform: uppercase;
}

header {
    height: 5vh;
    background-color: #D9D9D9;
}

main {
    height: 85vh;
    width: 100%;
    display: flex;
}

section {
    height: 100%;
    width: 29vw;
    background-color: #A4A4A4;
}

article {
    height: 100%;
    width: 30vw;
    background-color: #C1C1C1;
}

main div{
    display: flex;
    flex-direction: column;
    width: 41vw;
}

.main__aside-top {
    height: 50%;
    background-color: #7F7A7A;
}

.main__aside-bottom {
    height: 50%;
    background-color: #6B6161;
}

footer {
    height: 10vh;
    background-color: #D9D9D9;
}