body {
    font-family: Arial, sans-serif;
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

section {
    max-width: 980px;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4e4646;
}

.card {
    display: flex;
    justify-content: space-around;
    flex-wrap:  wrap;
}

label {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.card img {
    max-width: 120px;
    width: 100%;
}

.card div {
    padding:20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}