* {
    margin: 0;
}

header, footer {
    height: 22vh;
    background-color: #D9D9D9;
}

aside {
    width: 27vw;
    height: 56vh;
    background-color: #C0BDBD;
}

main {
    display: flex;
}

main div {
    width: 46vw;
    height: 56vh;
}

.main__div-top-section {
    width: 100%;
    height: 50%;
    background-color: #827878;
}

.main__div-bottom-section {
    width: 100%;
    height: 50%;
    background-color: #B7ADAD;
}