* {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

section {
    max-width: 980px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#top {
    background-color: #e3f2fd;
}

#middle {
    background-color: #fff3e0;
}

#bottom {
    background-color: #e8f5e9;
}

.arrow {
    font-size: 4rem;
    color: #333;
    cursor: pointer;
}

a {
    text-decoration: none;
    
}
a:hover{
    color: #007BFF;
}