body {
    background-color: #f0f0f0;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 30px;
    max-width: 980px;
    margin: 0 auto;
}

h1 {
    color: #333333;
    text-align: center;
    text-transform: uppercase;
}

.card {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card div {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
}

.card div:hover {
    background-color: rgb(0, 0, 255);
    cursor: pointer;
    border-radius: 50%;
}