body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 20px;
}

.top-block {
    background-color: rgb(231, 129, 129);
}

.bottom-block {
    color: #fff;
    background-color: rgb(0, 0, 0);
}